<!DOCTYPE html>
<html>
  <head>
    <title>Knotify</title>
  </head>
  <body>
    <div id="wordcloud"></div>
    <h1>Knotify</h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <ul>
      <li><a href="demo1">Demo 1</a></li>
      <li><a href="demo2">Demo 2</a></li>
      <li><a href="demo3">Demo 3</a></li>
    </ul>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/lib/d3/d3.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/d3/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.wordcloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wordcloud.js') }}"></script>
  </body>
</html>
